[Desktop Entry]
Name=Vim Text Editor
Comment=Edit text files
TryExec=vim
Exec=alacritty -e vim %F
Keywords=Text;editor;
Terminal=true
Type=Application
Icon=terminal
Categories=Utility;TextEditor;
StartupNotify=true
MimeType=text/plain;
